<%= render partial: 'layouts/errors', locals: { model: find_user } %>
<h3 class="headline">Edit user</h3>
<%= form_for @user do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :bio %>
    <%= f.text_area :bio, rows: 10 %>
  </div>

  <%= f.submit "Submit", class: "btn btn-submit" %>
<% end %>
