<% remote ||= false %>
<%= form_for @card, remote: remote do |f| %>
  <div class="field">
    <%= f.label :en, "English word" %>
    <%= f.text_field :en %>
  </div>

  <div class="field">
    <%= f.label :ja, "Japanese translation" %>
    <%= f.text_field :ja %>
  </div>

  <%= f.submit "Submit", class: "btn btn-submit" %>
<% end %>
